body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.container{
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.country-name{
    width: 90%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}
.search-btn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}