.body{
        background: url("./img/zldaLS.webp");
        background-repeat: no-repeat;
        min-height: 100vh;
        background-size: 100vw 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: fixed; 

}
#board{
    width: 90vmin;

    height: 92vmin;

    border: 2px solid yellow;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    background:  linear-gradient(rgb(223, 223, 105), pink);
}
.head{
    background-color: red;
}
.snake{
    background-color: purple;
    border: .25min solid white;
    border-radius: 12px;
}
.food{
    background: linear-gradient(red, yellow);
    border: .25min bolid white;
    border-radius: 8px
}


