*{
    padding: 0;
    margin: 0;
}
.body{
    background-image: url("./img/zldaLS.webp");
    min-height: 100vh;
    min-height: 100vh;
    background-size: 100vw 100vh;
    /* background-color: rebeccapurple; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
}
#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;

}

#board{
    background: linear-gradient( rgb(161, 214, 161), rgb(223, 223, 141));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
     grid-template-rows: repeat(18, 1fr);
     grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}
.food{
    background: linear-gradient(red, purple);
     border: .25vmin solid black;
     border-radius: 8px;

}

/* git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/urbanaeem2006/Snake_game.js.git
git push -u origin main */




 




