*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./img/window.jpeg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.taskbar{
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 110;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    background-color: grey;

}
.startmenu{
    position: absolute;
    bottom: -655px;
    width: 100%;
    text-align: center;
    transition:  all 0.3s ease-in;
    
    
}
.startmenu img{
    border-radius: 8px;
}
.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}

